.form-sect{
    margin-top: 5vh;
    width: auto;
}

.form-sect form{
    margin-left: 2.5vh;
    margin-right: 7.5vh;
}

.form-sect label{
    color: #1f1f1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-sect input[type=submit], input[type=reset]{
    color: #1f1f1f;
    padding: 9px 18px;
    font-style: oblique;
    cursor: pointer;
    float: right;
    margin: 20px;
}

.form-sect input[type=submit]:hover, input[type=reset]:hover{
    background-color: rgba(107, 107, 107, 0.3);
}

.form-sect input[type=text], input[type=date], textarea, .form-sect select{
    width: 100%;
    padding: 12px;
    border: 2px solid #424242;
    box-sizing: border-box;
    resize: vertical;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1f1f1f;
}

.form-mvt {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 5vh;
}

.form-mvt:after{
    content: "";
    display: table;
    clear: both;
}

.col {
    flex: 1;
    min-width: 200px;
}