body{
    background-color: #f8f8f8;
    margin: 0;
}

.main{
    max-width: 100%;
    position: fixed;
    transition: all .5s ease-in-out;
    max-height: 100%;
    overflow-y: auto;
}

.header{
    margin-top: 10vh;
    margin-left: 2.5vh;
    padding: 10px;
    margin-right: 7.5vh;
    width: auto;
}

.header h4{
    color: #7B95F9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}